
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1b2522;
    padding: 0.5rem 1rem;
    height: 50px; 
}
.nav-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    color: red;
}

.nav-list a{
    text-decoration: none;
    margin-left: 1rem;
    color: white;
}

.nav-list a:hover{
    color: #CCC;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}
header {
    margin-top: 80px;
}
.campaign-item {
margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
max-width: 1000px; 
margin-left: auto; 
margin-right: auto;
border: 2px solid #1b2522;
}

.campaign-item img,
.campaign-item-text {
flex: 1; 
}

.campaign-item-text {
padding: 0 20px; 
text-align: left;
}

.learn-more a{
    float:right;
    background-color: #008CBA;
    color: white;
    border-radius: 100000px;
    padding: 0.25rem 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}


footer {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
img{
    height: 320px;
    width: 480px;
}

